# Prerequisites
*.d
build/*
_deps/*
CMakeFiles/*
notes
setup

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

./build/*
.pdb
.vscode/
conanbuildinfo.txt
conanbuildinfo.cmake
conaninfo.txt
conan_imports_manifest.txt
conan.lock
graph_info.json
r-type_client
r-type_server
.vscode/
.vscode/
.vscode/settings.json
rtype-0.1.1-Linux.deb